apipkg
beautifulsoup4
click
coverage
coveralls
docopt
execnet
flake8
flex
jsonpointer
mccabe
mock
pluggy
py
pycodestyle
pyflakes
pytest
pytest-cache
pytest-cov
pytest-cover
pytest-sugar
PyYAML
requests
rfc3987
termcolor
tox
validate-email
virtualenv
waitress
WebTest
