colander==1.8.2
cornice==5.0.2
hupper==1.10.2
iso8601==0.1.12
PasteDeploy==2.1.0
plaster==1.0
plaster-pastedeploy==0.7
pyramid==1.10.4
repoze.lru==0.7
simplejson==3.17.2
six==1.15.0
translationstring==1.4
venusian==3.0.0
WebOb==1.8.6
zope.deprecation==4.4.0
zope.interface==5.2.0
